*.pyc
.project
.pydevproject
docs/_build
build
dist
*.egg*
example/local_settings.py

pep8.txt
*.bak
.#*
\#*
*.db
*.tmp
virtualenv
.venv
.DS_Store
db.sqlite3

htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
.vscode
.xmlcoverage
publish.sh